<div  class="container-fluid">
    <div class="d-flex justify-content-center">
        <nz-card class="text-center" >
            <nz-avatar [nzSize]="280" nzIcon="user" [nzSrc]="'assets/logocentral.png'"></nz-avatar>
            <p class="m-b-30"></p>
            <form nz-form [nzLayout]="'vertical'"  [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="userName">Correo Electrónico</nz-form-label>
                  <nz-form-control>
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="userName" placeholder="Escriba su correo electrónico">
                    </nz-input-group>              
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <div class="d-flex align-items-center justify-content-between">                      
                         <a class="float-right font-size-13 p-t-10 text-muted  " 
                          [routerLink]="['/authentication/login']"> Regresar a Inicio</a>
                        </div>
                    <div style="margin-top: 15px;">         
                      <button nz-button class="login-form-button" nzType="primary" >Recuperar Contraseña</button>
                    </div>
                  </nz-form-control> 
                </nz-form-item>
              </form>            
              <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
            </nz-card>
    </div>
</div>