<div class="container-fluid h-100" style=" background-color: white ; color: black;">
    <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
        <div class="container">
            <div class="row align-items-center">
                <div class="m-l-auto col-md-12">
                    <nz-card>
                        <h2 class="m-t-20">Registrar mi Empresa</h2>
                        <p class="m-b-30">Cree su cuenta para obtener acceso</p>
                        <form nz-form [formGroup]="signUpForm" nzLayout="horizontal" class="login-form"
                            (ngSubmit)="submitForm()">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzRequired nzFor="customerName">Nombre de la Empresa</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="text" nz-input formControlName="customerName"
                                        placeholder="Nombre de la Empresa" id="customerName">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8">Empresa</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <nz-select formControlName="customertype" nzAllowClear
                                        nzPlaceHolder="Selecciona el Tipo de Empresa"
                                        (ngModelChange)="onSelectValueType($event)">
                                        <nz-option *ngFor="let o of customersType$ | async" nzCustomContent
                                            [nzLabel]="o.name" [nzValue]="o.id">
                                           {{ o.name }}
                                        </nz-option>
                                    </nz-select>
                                    <nz-select formControlName="customerCountry" nzAllowClear
                                        nzPlaceHolder="Selecciona tu Estado" (ngModelChange)="onSelectValueCountry($event)">
                                        <nz-option *ngFor="let o of customersCountry$ | async" nzCustomContent
                                            [nzLabel]="o.name" [nzValue]="o.id">
                                            {{ o.name }}
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="consecutiveField">Clave Cliente</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input type="text" nz-input formControlName="consecutiveField" id="consecutiveField" [disabled]="true">                  
                                  </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzRequired nzFor="address">Dirección</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="text" nz-input formControlName="address" placeholder="Dirección"
                                        id="address">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzRequired nzFor="firstName">Nombre Administrador</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="text" nz-input formControlName="firstName" placeholder="Nombre"
                                        id="firstName">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzRequired nzFor="lastName">Apellidos
                                    Administrador</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="text" nz-input formControlName="lastName" placeholder="Apellidos"
                                        id="lastName">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="8" nzFor="email">Correo</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="email" nz-input formControlName="email"
                                        placeholder="Correo Electrónico" id="email">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="8" nzFor="password"> Contraseña </nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input type="password" nz-input formControlName="password" placeholder="Contraseña"
                                        id="password">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzFor="checkPassword" [nzSpan]="8" nzRequired>Confirmar</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input nz-input type="password" formControlName="checkPassword"
                                        placeholder="Confirmar contraseña" id="checkPassword">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="phoneNumber">Teléfono </nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="16">
                                    <input nz-input formControlName="phoneNumber" placeholder="81 1234 5678"
                                        id="phoneNumber" name="phoneNumber" minlength="10" maxlength="10" />
                                </nz-form-control>
                            </nz-form-item>
                            <div class="d-flex align-items-center justify-content-between">
                                <nz-form-item>
                                    <nz-form-control [nzErrorTip]="'Debes aceptar los términos y condiciones.'" [nzValidateStatus]="signUpForm.get('terms')!">
                                        <label nz-checkbox formControlName="terms">
                                            <span>He leído y acepto los <a
                                                    (click)="showModalTerms()">términos</a></span>
                                        </label>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control>
                                        <div>
                                            <button nz-button class="login-form-button" nzType="primary">Registrarse</button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </form>
                    </nz-card>
                </div>
            </div>
        </div>
    </div>
</div>