<nz-page-header nzTitle="Configuraciones Generales">
    <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="saveData()">Guardar </button>
</nz-page-header-extra>
</nz-page-header>
<div style="background: #ECECEC;padding:30px;">
    <nz-card style="width:600px;" [nzBordered]="false" nzTitle="Felicitaciones Automaticas" [nzExtra]="extraTemplate">
        <div class="form-section">
            <h4>Título</h4>
            <input nz-input [(ngModel)]="title" placeholder="Ingresa el título" />

            <h4 style="margin-top: 5px;">Descripción</h4>
            <textarea nz-input [(ngModel)]="description" placeholder="Ingresa la descripción" rows="4"></textarea>

        </div>
        <ng-template #extraTemplate>
            <nz-switch style="margin-bottom: 5px;" [(ngModel)]="switchValue" [nzCheckedChildren]="'Activar'"
                [nzUnCheckedChildren]="'Desactivar'">
            </nz-switch>
        </ng-template>
    </nz-card>
    <nz-card style="width:600px;" [nzBordered]="false" nzTitle="Tipos de Evidencias">      
        <nz-select  style="width:400px;" class="wide-select" [(ngModel)]="selectedUid" (ngModelChange)="selectInfo()">
            <nz-option *ngFor="let evidence of evidenceList" [nzValue]="evidence.uid" [nzLabel]="evidence.name"
                [title]="evidence.name">
            </nz-option></nz-select>
            <br>
        <!-- Botón para agregar nueva respuesta -->
         <div style="margin-top: 10px;">

        <button nz-button nzType="primary" style="width: 10px; margin-top: 5px; margin-left: 3px;"
            (click)="openNewModal(selectedData)">
            <i nz-icon nzType="plus"></i> Agregar </button>
        <button nz-button nzType="default" style="width: 10px; margin-top: 3px; margin-left: 3px;"
            (click)="openEditModal()">
            <i nz-icon nzType="plus"></i> Editar </button>
        </div>
    </nz-card>
</div>


<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Agregar Tipo de Evidencia" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleAddCancel()">
    <!-- Contenido del modal -->
    <ng-template #modalContent>
        <div class="modal-content">
            <label>Título</label>
            <input nz-input [(ngModel)]="addEvidence" placeholder="Agregar Nombre de Evidencia" />
        </div>
    </ng-template>

    <!-- Footer del modal -->
    <ng-template #modalFooter>
        <button nz-button (click)="handleAddCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="saveRecord()">Guardar</button>
    </ng-template>

</nz-modal>

<nz-modal [(nzVisible)]="isModalVisibleE" nzTitle="Editar Tipo de Evidencia" [nzContent]="modalContentE"
    [nzFooter]="modalFooterE" (nzOnCancel)="handleAddCancel()">
    <!-- Contenido del modal -->
    <ng-template #modalContentE>
        <div class="modal-content">
            <label>Título</label>
            <input nz-input [(ngModel)]="editEvidence" placeholder="Editar nombre de evidencia" />
        </div>
    </ng-template>

    <!-- Footer del modal -->
    <ng-template #modalFooterE>
        <button nz-button (click)="handleAddCancel()">Cancelar</button>
        <button nz-button nzDanger (click)="deleteResponse()">Borrar</button>
        <button nz-button nzType="primary" (click)="saveRecordE()">Guardar</button>
    </ng-template>

</nz-modal>